{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout:Pharma master{% endblock %}
{% block content %}



    <div class="site-section">
      <div class="container">

        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Billing Details</h2>
            <div class="p-3 p-lg-5 border">
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_fname" name="c_fname" value="{{user_detail.first_name}}" readonly>
                </div>
                <div class="col-md-6">
                  <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_lname" name="c_lname" value="{{user_detail.last_name}}" readonly>
                </div>
              </div>
    

    
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                  <textarea class="form-control" id="c_address" name="c_address" readonly>{{user_detail.address}}</textarea>
                </div>
              </div>
    


    
              <div class="form-group row mb-5">
                <div class="col-md-6">
                  <label for="c_email_address" class="text-black">Email Address <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_email_address" name="c_email_address" value="{{user_detail.id.username}}" readonly>
                </div>
                <div class="col-md-6">
                  <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="Phone Number" value="{{user_detail.phone}}" readonly>
                </div>
              </div>








            </div>
          </div>
          <div class="col-md-6">

    
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Your Order</h2>
                <div class="p-3 p-lg-5 border">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>Product</th>
                      <th>Total</th>
                    </thead>
                    <tbody>
                    {% for item in cart_items %}
                      <tr>
                        <td>{{item.product.medicine}} <strong class="mx-2">X</strong> {{item.quantity}}</td>
                        <td>Rs {{item.sub_total}}</td>
                      </tr>
                      {% endfor %}
                        <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                        <td class="text-black">Rs {{total}}</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                        <td class="text-black font-weight-bold"><strong>Rs {{total}}</strong></td>
                      </tr>
                    </tbody>
                  </table>
    

    
                  <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" onclick="window.location='{% url 'cart:place_order' %}'">Cash On Delivery</button>
                    <button type="button" class="btn btn-primary paywithrazorpay btn-lg btn-block">Pay Now</button>
                  </div>
    
                </div>
              </div>
            </div>
    
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>
    

{% endblock %}

{% block scripts %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>-->
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock scripts %}
