{% extends 'base.html' %}
{% load static %}
{% block title %}Shop:Pharma master{% endblock %}
{% block content %}
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'security:index' %}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Store</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">

        <div class="row">
          {% for med in medicines %}
          <div class="col-sm-6 col-lg-4 text-center item mb-4">

            <a href="{% url 'shop:med_single' med.id %}"> <img src="{{med.image.url}}" alt="Image" style="width:250px;height:350px;"></a>
            <h3 class="text-dark"><a href="{% url 'shop:med_single' med.id %}">{{med.medicine}}</a></h3>
            <p class="price">Rs. {{med.price}}</p>
          </div>
          {% empty %}
          <h1 style="text-align:center;">No results found</h1>
          {% endfor %}
        </div>


        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    


{% endblock %}